<div class="flex w-full items-center">
  <span
    class="relative w-full h-[34px] inline-flex overflow-hidden rounded-full p-[1px]"dark:bg-gray-800/90 bg-white/5
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#21C426_0%,#576168_50%,#21C426_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full text-base px-3 py-1 text-[#21C426] bg-[#1B2A34e6] rounded-full cursor-pointer dark:text-white font-semibold backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
