<div class="flex w-full items-center">
  <span
    class="relative w-full h-[34px] inline-flex overflow-hidden rounded-full p-[1px]"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#22C55E_0%,#576168_50%,#22C55E_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full text-base px-3 py-1 text-green-500 bg-slate-900 rounded-full cursor-pointer dark:text-white font-semibold backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
