---
import LinkInline from "./LinkInline.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div
  class="relative ml-10 pb-8 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-6 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-green-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-[#21C426]">
        {title}
      </h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
        {company}
      </h4>
      <time class="p-0 m-0 text-sm text-[#9FC131]">{date}</time>
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-4 text-base text-gray-600 dark:text-gray-300 md:col-span-3 whitespace-pre-line"
  >
    {description}
  </div>
</div>
