---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2023 - Actualmente...",
    title: "Frontend React Developer",
    company: "Tita Media",
    description: 
      `Responsabilidades:

      ● Participo activamente en todo el ciclo de desarrollo de producto, desde la recopilación de requerimientos hasta la implementación y pruebas, colaborando con equipos multidisciplinarios bajo la metodología ágil SCRUM y fomentando una comunicación clara y orientada a resultados.
      ● Desarrollo tiendas e-commerce en plataformas como VTEX y Shopify, utilizando React, JavaScript, TypeScript, HTML, CSS, Sass y GraphQL.
      ● Personalizo componentes nativos y desarrollo módulos desde cero en VTEX; en Shopify, adapto temas mediante Liquid e implemento mejoras funcionales para optimizar la experiencia de usuario.

      Logros:
      
      ● Optimicé el rendimiento, accesibilidad y SEO en tiendas VTEX como Enrutalo, Bsoul y Uniandes, aplicando prácticas de estructura semántica, optimización de metaetiquetas, limpieza de URLs y estrategias de carga eficiente, logrando un incremento del 40% en la velocidad de carga y mejoras sustanciales en las métricas de Lighthouse.
      ● Mejoré la experiencia de usuario en la tienda de Juan Valdez resolviendo un problema de duplicación de productos con attachments en el minicart.
      ● Implementé una validación precisa de los datos enviados al carrito, permitiendo que los usuarios ajustaran cantidades sin generar duplicados, lo que resultó en un proceso de compra más fluido y un aumento del 20% en las conversiones.`,
  },
  {
    date: "Octubre 2021 - Septiembre 2022",
    title: "Desarrollador de software",
    company: "Pragma",
    description: 
      `Responsabilidades:

      ● Desarrollé e implementé componentes reutilizables en el portal de personas de Bancolombia utilizando Angular, TypeScript, Sass y HTML, mejorando la escalabilidad del front.
      ● Implementé pruebas unitarias con Jasmine y Karma, mejorando la cobertura y estabilidad del frontend de la banca digital del Banco BHD (República Dominicana).`
  },
  {
    date: "Febreo 2021 - Octubre 2021",
    title: "Desarrollador de software",
    company: "Newsol Consulting",
    description: 
      `Responsabilidades:

      ● Desarrollé e implementé aplicaciones empresariales usando SAP Fiori y SAPUI5, mejorando la experiencia de usuario.
      ● Utilicé tecnologías como JavaScript, HTML, CSS y jQuery, integradas en el entorno de desarrollo SAP Business Application Studio sobre Cloud Foundry.`
  },
  {
    date: "Enero 2019 - Mayo 2019",
    title: "Desarrollador de software",
    company: "IAS Software",
    description: 
      `Responsabilidades:

      ●	Participé en el desarrollo del sistema frontend para Bancolombia, utilizando Angular 7, Angular Material y Bootstrap para construir interfaces intuitivas y adaptables.
      ●	Aplicación de control de versiones y flujo de trabajo en equipo con herramientas como Git y metodologías ágiles.`
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
