---
const currentYear = new Date().getFullYear()
---

<footer
  class="px-6 opacity-80 m-4 md:pl-0 mt-6 mb-6 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex justify-center"
>
  <div
    class="text-center rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      <a href="https://www.linkedin.com/in/demc-dev/" class="text-center hover:underline">demcdev</a>
    </span>    
  </div>
</footer>
