---
const personalImageAlt = "Diego Mora";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import GitHubIcon from "./icons/GitHub.astro";
import SocialPill from "@/components/SocialPill.astro";
import ThemeToggle from "./ThemeToggle.astro";
import FlechaCurva from "./icons/FlechaCurva.astro";
---

<ThemeToggle />
<div class="relative grid lg:grid-cols-[22%_71%] items-center h-fit lg:gap-16 gap-8">
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center relative img-avatar rounded-full mb-4 shadow-lg border-4 border-[#1D3535e6] dark:border-[#1D3535e6]">
      <img
        class="absolute bottom-[44px] rounded-full"
        src="/diegomora.webp"
        alt={personalImageAlt}
      />
      <span class="absolute bottom-3">Disponible</span>
    </div>    
    <a
      href="/files/CV_DesarrolladorFrontend_DiegoMora.pdf"
      target="_blank"
      rel="noopener"
      download="CV_DesarrolladorFrontend_DiegoMora.pdf"
      class="flex items-center justify-center lg:w-full mb-4 transition md:justify-start hover:scale-105"
    >
      <Badge>Descargar CV</Badge>
    </a>
    <nav class="flex flex-wrap lg:w-full justify-between">
      <SocialPill href="mailto:diegomorademc@gmail.com">
        <MailIcon />
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/demc-dev">
        <LinkedInIcon />
      </SocialPill>
      <SocialPill href="https://github.com/DemcCode">
        <GitHubIcon />
      </SocialPill>
    </nav>
  </div>
  <FlechaCurva />
  <div class="flex flex-col justify-center items-center">
    <h1
      class="text-3xl sm:text-4xl lg:text-5xl font-bold tracking-tight text-gray-800 dark:text-white dark:[&>strong]:text-[#21C426]"
    >
      Hola, soy <strong>Diego Mora</strong>
    </h1>
    <h2
      class="text-2xl sm:text-3xl lg:text-4xl font-bold mt-4 text-[#9FC131] dark:text-[#9FC131]"
    >
      Desarrollador Front-end
    </h2>
    <p
      class="text-1xl md:text-xl lg:text-xl mt-6 text-gray-800 dark:[&>strong]:text-[#21C426] [&>strong]:text-[#21C426] [&>strong]:font-semibold dark:text-gray-300"
    >
      Con mas de <strong>3 años de experiencia</strong>, me especializo en el
      desarrollo de interfaces web atractivas, funcionales y centradas en el
      usuario.
    </p>
  </div>
</div>
<style>
  .img-avatar {
    width: 200px;
    height: 200px;

    background: linear-gradient(360deg, #21c42694 0%, #161a3094 100%);
  }
</style>
