---
const personalImageAlt = "Diego Mora";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import GitHubIcon from "./icons/GitHub.astro";
import SocialPill from "@/components/SocialPill.astro";
import ThemeToggle from "./ThemeToggle.astro";
import FlechaCurva from "./icons/FlechaCurva.astro";
---

<ThemeToggle />
<div class="relative grid lg:grid-cols-[22%_71%] items-center h-fit lg:gap-16 gap-8">
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center relative img-avatar rounded-full mb-4 shadow-lg border-4 border-[#1D3535e6] dark:border-[#1D3535e6]">
      <img
        class="absolute bottom-[10px] rounded-full"
        src="/diegomora.webp"
        alt={personalImageAlt}
      />
    </div>    
    <a
      href="/files/Diego-Mora-DesarrolladorFrontend-CV.pdf"
      target="_blank"
      rel="noopener"
      download="Diego-Mora-DesarrolladorFrontend-CV.pdf"
      class="flex items-center justify-center lg:w-full mb-4 transition md:justify-start hover:scale-105"
    >
      <Badge>Descargar CV</Badge>
    </a>
    <nav class="flex flex-wrap lg:w-full justify-between">
      <SocialPill href="mailto:diegomorademc@gmail.com">
        <MailIcon />
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/demcdev">
        <LinkedInIcon />
      </SocialPill>
      <SocialPill href="https://github.com/demcdev">
        <GitHubIcon />
      </SocialPill>
    </nav>
  </div>
  <FlechaCurva />
  <div class="flex flex-col justify-center items-center">
    <h1
      class="text-3xl sm:text-4xl lg:text-5xl font-bold tracking-tight text-gray-800 dark:text-white dark:[&>strong]:text-[#21C426]"
    >
      Hola, soy <strong>Diego Mora</strong>
    </h1>
    <h2
      class="text-2xl sm:text-3xl lg:text-4xl font-bold mt-4 text-[#9FC131] dark:text-[#9FC131]"
    >
      Desarrollador Frontend
    </h2>
    <p
      class="text-base md:text-base lg:text-base mt-6 text-gray-800 dark:[&>strong]:text-[#21C426] [&>strong]:text-[#21C426] [&>strong]:font-semibold dark:text-gray-300"
    >
      Desarrollador Frontend con mas de <strong>4 años de experiencia</strong> en ambientes de alto desempeño,
      especializado en la construcción de aplicaciones eficientes, escalables y centradas en el usuario, con experiencia en el sector e-commerce y financiero, fuerte expertise en tecnologías como React, JavaScript, TypeScript, Node.js, Express, HTML, CSS, Sass y GraphQL, con enfoque en optimización web (WPO) y buenas prácticas de SEO.
      Experiencia en el ciclo completo de desarrollo de producto y en la implementación de mejores prácticas de ingeniería de frontend.
    </p>
  </div>
</div>
<style>
  .img-avatar {
    width: 200px;
    height: 200px;

    background: linear-gradient(360deg, #21c42694 0%, #161a3094 100%);
  }
</style>
