---
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import SASS from "./icons/Sass.astro";
import TAILWIND from "./icons/Tailwind.astro";
import JAVASCRIPT from "./icons/JavaScript.astro";
import PYTHON from "./icons/Python.astro";
import TYPESCRIPT from "./icons/TypeScript.astro";
import REACT from "./icons/React.astro";
import ANGULAR from "./icons/Angular.astro";
import VTEX from "./icons/Vtex.astro";
import SHOPIFY from "./icons/Shopify.astro";
import NODEJS from "./icons/NodeJS.astro";
import EXPRESS from "./icons/Express.astro";
import MONGODB from "./icons/MongoDB.astro";
import GRAPHQL from "./icons/GraphQL.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#192F5A] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#192F5A] text-white",
    icon: CSS,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#192F5A] text-white",
    icon: SASS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#192F5A] text-white",
    icon: TAILWIND,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#192F5A] text-white",
    icon: JAVASCRIPT,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#192F5A] text-white",
    icon: PYTHON,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#192F5A] text-white",
    icon: TYPESCRIPT,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#192F5A] text-white",
    icon: REACT,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#192F5A] text-white",
    icon: ANGULAR,
  },
  VTEX: {
    name: "Vtex IO",
    class: "bg-[#192F5A] text-white",
    icon: VTEX,
  },
  SHOPIFY: {
    name: "Shopify",
    class: "bg-[#192F5A] text-white",
    icon: SHOPIFY,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-[#192F5A] text-white",
    icon: NODEJS,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#192F5A] text-white",
    icon: EXPRESS,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#192F5A] text-white",
    icon: MONGODB,
  },
  GRAPHQL: {
    name: "GraphQL",
    class: "bg-[#192F5A] text-white",
    icon: GRAPHQL,
  },
};
const TECNOLOGIES = [
  TAGS.HTML,
  TAGS.CSS,
  TAGS.SASS,
  TAGS.TAILWIND,
  TAGS.JAVASCRIPT,
  TAGS.PYTHON,
  TAGS.TYPESCRIPT,
  TAGS.REACT,
  TAGS.ANGULAR,
  TAGS.VTEX,
  TAGS.SHOPIFY,
  TAGS.NODEJS,
  TAGS.EXPRESS,
  TAGS.MONGODB,
  TAGS.GRAPHQL,
];
---

<div>
  <ul class="flex flex-wrap flex-row mb-2 gap-1">
    {
      TECNOLOGIES.map((tag) => (
        <li>
          <span
            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-3 `}
          >
            <tag.icon class="size-4" />
            {tag.name}
          </span>
        </li>
      ))
    }
  </ul>
</div>
